<?xml version="1.0" encoding="UTF-8"?>

<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">

<channel>

<title>Live from the Broadello</title>

<link>http://broadello.net/</link>

<language>en-us</language>

<copyright>&#x2117; &amp; &#xA9; 2014 Louis Bergelson, Hussein Elgridly</copyright>

<itunes:subtitle>Two Dudes Talking over their lunch break.</itunes:subtitle>

<itunes:author>Louis Bergelson, Hussein Elgridly</itunes:author>

<itunes:explicit>yes</itunes:explicit>

<itunes:image href="http://broadello.jellycast.com/pod/broadello.jpg" />

<itunes:summary>"Like shamelessly listening to someone else's conversation in a cafe", one listener confesses.</itunes:summary>

<description>This podcast is two people talking over their lunch break, and is not associated with, nor does it represent the opinion, official or unofficial, of The Broad Institute, or anyone else, including us. This podcast covers a range of topics from the political to the juvenile and is unsuitable for workplace or family listening. Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness. This podcast may contain a chemical known to the state of California.</description>

<itunes:owner>

<itunes:name>The Broadello Team</itunes:name>

<itunes:email>podcast@broadello.net</itunes:email>

</itunes:owner>

<itunes:category text="Comedy"></itunes:category>

{% for ep in episodes %}
<item>

<title>{{ ep.title }}</title>

<itunes:author>The Broadello</itunes:author>

<itunes:subtitle>{{ ep.title }}</itunes:subtitle>

<itunes:image href="http://broadello.jellycast.com/pod/broadello.jpg" />

<itunes:summary>{{ ep.description }}</itunes:summary>

<enclosure url="{{ ep.url }}" length="{{ ep.size }}" type="audio/mpeg" />

<guid>{{ ep.url }}</guid>

<pubDate>{{ ep.date }}</pubDate>

<itunes:duration>{{ ep.time }}</itunes:duration>

</item>
{% endfor %}

</channel>

</rss>
